:root {
    --lion: #B38A58;
    --olive: #6F732F;
    --hunter-green: #3C5233;
    --cal-poly-green: #264027;
    --rich-black: #0D1F22;
    --white: #ffffff;
}
main{
    height: 100vh;
}

nav {
    background-color: var(--hunter-green);
    color: var(--white);
}

footer {
    background-color: var(--hunter-green);
    color: var(--white);
    padding: 40px 0;
    margin-top: 60px;
}